@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-monserrat); */
  --font-montserrat: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  /* --color-secondary: var(--secondary); */
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* added custom setup */
  /*  --breakpoint-4xl: 1600px;
  --font-krona-one: var(--font-krona-one);
  --text-xs: 10.5px;
  --color-custom-blue: rgb(84, 53, 245);
  --color-custom-green: rgb(0, 128, 0); */

  --color-success: var(--success);
  --color-dark: var(--dark);
  --color-secondary: var(--secondary);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-1000: var(--secondary-1000);
  --color-success: var(--success);
  --color-line: rgba(243, 243, 243, 1);
  --text-4xl: 3.438rem;
  --text-5xl: 4.1rem;
  --text-lg: 1.625rem;
  --text-md: 1rem;
  /* --breakpoint-4xl: 1600px; */
    --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  /* --breakpoint-2xl: 1536px; */
  /* --breakpoint-3xl: 1720px;  */
  --breakpoint-4xl: 1600px; 
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  /* --secondary: oklch(0.97 0 0); */
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --success: rgb(11, 43, 18);
  --dark: rgb(45, 45, 45);
  --secondary-100: rgba(45, 45, 45, 0.1);
  --secondary-400: rgba(45, 45, 45, 0.4);
  --secondary-500: rgba(45, 45, 45, 0.5);
  --secondary-700: rgba(45, 45, 45, 0.7);
  --secondary-800: rgba(45, 45, 45, 0.8);
  --secondary-1000: rgba(45, 45, 45, 1);
  --secondary: rgba(45, 45, 45, 0.8);
  --success: rgb(11, 43, 18);
  
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
  @media (min-width: 2560px) {
    font-size: calc(16px * 2560 / 1920);
  }
  @media (min-width: 3840px) {
    font-size: calc(16px * 3840 / 1920);
  }
}

body {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  color: var(--color-dark);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
    padding-inline: 80px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1536px) {
    max-width: 1780px;
  }
  /* @media (width >= 2560px) {
    font-size: calc(16*100/(1920*100/2560))+px; 
  } */
  /* @media (width >= 3840px) {
    font-size: calc(16*100/(1920*100/3840))+px
  } */
}

/* CONDITIONAL */

main {
  min-height: 100vh;
}

main > section {
  @apply py-[6rem] xl:py-[9rem] 4xl:py-[13rem];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-baskervville), var(--font-montserrat), Arial, Helvetica, sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat);
}
.font-baskervville {
  font-family: var(--font-baskervville);
}

.subtitle {
  @apply  font-montserrat uppercase text-xs sm:text-sm text-secondary-400 font-medium tracking-[1px] mb-[2.5rem] sm:mb-[3.2rem];
}

/* LAZY LOAD */
[data-lazy] {
  opacity: 0;
  will-change: transform, opacity;
  transition-property: opacity, transform !important;
  transition-timing-function: ease-in, ease-out !important;
  transition-duration: 0.7s !important;
  /* transition-timing-function: cubic-bezier(.175,.885,.32,1.275); */
}

[data-lazy="fade-up"] {
  transform: translate3d(0, 100px, 0) !important;
}
[data-lazy="fade-up-30"] {
  transform: translate3d(0, 30px, 0);
}
[data-lazy="fade-down"] {
  transform: translate3d(0, -300px, 0) !important;
}
[data-lazy="fade-left"] {
  transform: translate3d(100px, 0, 0);
}

.lazy-animate {
  opacity: 1;
  transform: translateZ(0);
}

[data-transformed].lazy-animate {
  transform: translateY(-50%) !important;
}